.root {
  position: absolute;
  z-index: 1;
  width: min(320px, 50vw);
  height: min(320px, 50vw);
  opacity: 1;
  margin-top: calc(var(--s-2) * -1);
  transition-duration: 0.3s;
  transition-property: opacity, width, height;
}

.root[aria-hidden='true'] {
  width: 0;
  height: 0;
  opacity: 0;
}

@media print {
  .root {
    display: none;
  }
}
