[data-theme='light']:root {
  --c-fg: black;
  --c-bg: white;
  --c-link-base: blue;
  --c-link-visited: purple;

  color-scheme: light;
}

[data-theme='dark']:root {
  --c-fg: white;
  --c-bg: black;
  --c-link-base: royalblue;
  --c-link-visited: dimgray;

  color-scheme: dark;
}
